<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ValMatcher</string>
	<key>CFBundleExecutable</key>
	<string>ValMatcher</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>ValMatcher</string>
	<key>INFOPLIST_FILE</key>
	<string>/Users/danielhan/Documents/ValMatcher/Info.plist</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture photos and videos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for video recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos and videos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to upload photos and videos.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
